.page-num-btn {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    outline: none;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    text-decoration: none;
}

.page-num-btn:hover {
    border: 1px solid #1B9DE8;
    text-decoration: none;
}

.page-num-btn:active, .page-num-btn-active {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    outline: none;
    border-radius: 5px;
    border: 1px solid #1B9DE8;
    text-decoration: none;
}

.text-red {
    color: red !important;
}

.level1 {
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    /*border: 1px solid lightgray;*/
    border-top: 1px solid #1B9DE8;
    border-bottom: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;

    border-radius: 0.5px;
    transition: 0.2s;
    text-decoration: none;
}

.level1:hover {
    border-top: 1px solid #1B9DE8;
    border-bottom: 1px solid #1B9DE8;
    border-left: 1px solid #1B9DE8;
    border-right: 1px solid #1B9DE8;

    background: rgba(255, 255, 255, .2);
    text-decoration: none;
}

.level1:active {
    border-top: 1px solid #1B9DE8;
    border-bottom: 1px solid #1B9DE8;
    border-left: 1px solid #1B9DE8;
    border-right: 1px solid #1B9DE8;

    background: white;
    text-decoration: none;
}

.level1, .level1 a {
    color: black;
}

.level2 {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;

    background: white; /* обязательно для ie */
    -webkit-box-shadow: 0px 0px 15px #e9f7f8;
    -moz-box-shadow: 0px 0px 15px #e9f7f8;
    box-shadow: 0px 0px 15px #e9f7f8;

    font-weight: 300 !important;
    font-size: 0.75rem;
    text-align: right;
}

.level2:hover {
    border-top: 1px solid #1B9DE8;
    border-bottom: 1px solid #1B9DE8;
    border-left: 1px solid #1B9DE8;
    border-right: 1px solid #1B9DE8;
}

.level2, .level2 a {
    color: black;
}

/*.level2 a {*/
/*font-weight: 300 !important;*/
/*}*/

.font-weight-light {
    font-weight: 300 !important
}

.font-weight-before-normal {
    font-weight: 300 !important
}

.font-weight-normal {
    font-weight: 400 !important
}

.font-weight-after-normal {
    font-weight: 500 !important
}

.font-weight-before-bold {
    font-weight: 600 !important
}

.font-weight-bold {
    font-weight: 700 !important
}

.font-weight-after-bold {
    font-weight: 800 !important
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}