.wrapper {
    /*font-family: Tahoma, Verdana, Segoe, sans-serif !important;*/
    /*font-family: Verdana,Geneva,sans-serif !important;*/
    /*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif" !important;*/
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

.fa::parent {
    font-family: Tahoma, Verdana, Segoe, sans-serif !important;
}

html,
body,
p, h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    /*padding-bottom: 50px;*/
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.wrapper {
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    background-color: #f9f9f9;
}

.container {
    /*margin: 0px;*/
    padding: 0px;

    min-width: 1000px !important;
    width: 1100px !important;
    max-width: 1200px !important;

    background-color: white;
}

/* Custom */

.catalog-item {
    border-top: 5px solid #1B9DE8;
    border-bottom: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;

    /*border:1px solid #dee2e6!important;*/

    height: 100% !important;
    line-height: 20px;
}

.catalog-item div:first-child {
    min-height: 50px;
}

.products-item {
    border-top: 5px solid #1B9DE8;
    border-bottom: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;

    /*border:1px solid #dee2e6!important;*/

    height: 100% !important;
}

.products-item div:first-child {
    min-height: 50px;
}

.sidebar a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.search-field {
    margin-top: 27px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.viewTable td {
    padding-left: 5px;
    padding-right: 5px;
}

.header {
    height: 150px;
    background: url(../img/bg_header.jpg) no-repeat center top;
    min-width: 1000px;
}

.tab-content {
    font-size: 14px;
    line-height: 1.55;
    overflow: auto;
}

#tableTehVa td {
    border-bottom: solid 1px #D0D0D0;
    border-right: none;
    border-left: none;
    text-align: left;
    padding: 5px;
}

/* Style */
.nav-link {
    color: black;
}

.header-nav > ul a:hover {
    color: #FFF;
    background: #4aafdd;
    background: -moz-linear-gradient(top, #4aafdd 1%, #9dd4fd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #4aafdd), color-stop(100%, #9dd4fd));
    background: -webkit-linear-gradient(top, #4aafdd 1%, #9dd4fd 100%);
    background: -o-linear-gradient(top, #4aafdd 1%, #9dd4fd 100%);
    background: -ms-linear-gradient(top, #4aafdd 1%, #9dd4fd 100%);
    background: linear-gradient(to bottom, #4aafdd 1%, #9dd4fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aafdd', endColorstr='#9dd4fd', GradientType=0);
}

.header-nav > ul a.active {
    color: #FFF;
    background: #4aafdd;
    background: -moz-linear-gradient(top, #4aafdd 1%, #9dd4fd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #4aafdd), color-stop(100%, #9dd4fd));
    background: -webkit-linear-gradient(top, #4aafdd 1%, #9dd4fd 100%);
    background: -o-linear-gradient(top, #4aafdd 1%, #9dd4fd 100%);
    background: -ms-linear-gradient(top, #4aafdd 1%, #9dd4fd 100%);
    background: linear-gradient(to bottom, #4aafdd 1%, #9dd4fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aafdd', endColorstr='#9dd4fd', GradientType=0);
}